.border-light {
  border-radius: 1rem;
  background: #2d325a;
}

.bg-card {
  /* background-color: #202342; */
  border-radius: 4px;
  color: #fafafa;
  background: rgba(77, 84, 139, 0.35);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.req-button {
  color: #4a6cdf;
  background: transparent;
  border: 2px solid #4a6cdf;
  padding: 0.5rem 2rem !important;
  border-radius: 1rem;
}